html, body{ height:100%; margin:0; }	

@media screen and (max-width: 719px) {
	#profileImageMobile {display: block;}
	#profileImageDesktop {display: none;}
}

@media (min-width:720px) {
  #profileImageDesktop {display: block;}
  #profileImageMobile {display: none;}
  body {
    font-size: 18px!important;
  }
  a,h5,span {
    font-size: 16px!important;
  }
  img{
  	height:25px!important;
  }
  nav{
  	padding-bottom:0!important	;
  }
  .btn-sm{
  	font-size: 0.64rem!important;
  	margin: 0!important;
  	padding: 0.3rem 0.6rem!important;
  }
  .chip{
  	line-height: 26px!important;
  	height: 26px!important;
  	margin-bottom: 0!important;
  	font-weight: normal!important;
  }
  hr{
  	margin-bottom: 0.5rem!important;
  }
  .keyword_bar{
  	margin-top: 2.8rem!important;
  }
  #desktop_search{
  	padding: 0!important;
  }
  .fa-search{
  	font-size: 1rem!important;
  }
  .body_container{
  	margin-top:1rem!important;
  }
  .keybar-navbar-nav{
  	margin-bottom: 0.5rem!important;
  }
  label{
  	font-size: 15px;
  }
}

body{ 
  display:flex; 
  flex-direction:column; 
}
 
 /* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

 .alertify-cover {
    background-color: #777777;
    // untested but prefix and filter must be used
    // for IE opacity support
    -moz-opacity: .7;
    -ms-filter: "alpha(opacity=70)";
    filter: alpha(opacity=70);
    opacity: .7;
}
body {
	background: #ffffff;
}

.dropdown-item {
	font-size: 1rem;
}

#wrapper {
	padding: 40px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav {
	flex-direction: column;
}

.card {
	margin-bottom: 15px;
	border-radius: 0;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.header-top {
	box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.leftmenutrigger {
	display: none
}

.margin-adjust {
	margin-left: 200px;
}

a {
	font-size: 20px;
}

.animate {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.btn-success {
	border: 0;
	padding: 6px 10px;
	position: relative;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.2) 100%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.2) 100%);
}

.btn-success:hover, .btn-success:visited, .btn-success:active {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	transition: all 200ms ease;
	color: white;
	text-decoration: none;
	outline: none;
}

.btn-success, .btn-success:hover {
	background-color: #2fab41;
}

.btn-success:hover:after {
	width: 120%;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.btn-success:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.ribbon-wrapper {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px
}

.ribbon.blue {
	background-color: #1a8bbc;
	background-image: -webkit-linear-gradient(top, #177aa6 45%, #1a8bbc 100%);
	background-image: -o-linear-gradient(top, #177aa6 45%, #1a8bbc 100%);
	background-image: linear-gradient(to bottom, #177aa6 45%, #1a8bbc 100%);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#177aa6',
		endColorstr='#ff1a8bbc', GradientType=0)
}

.ribbon.blue:before, .ribbon.blue:after {
	border-top: 3px solid #115979
}

.ribbon-wrapper {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -3px;
	right: -3px
}

.ribbon {
	font-size: 12px;
	color: #FFF;
	text-transform: uppercase;
	font-family: 'Montserrat Bold', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	letter-spacing: .05em;
	line-height: 15px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	padding: 7px 0;
	right: -11px;
	top: 10px;
	width: 100px;
	height: 28px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	background-color: #dedede;
	background-image: -webkit-linear-gradient(top, #ffffff 45%, #dedede 100%);
	background-image: -o-linear-gradient(top, #ffffff 45%, #dedede 100%);
	background-image: linear-gradient(to bottom, #ffffff 45%, #dedede 100%);
	background-repeat: repeat-x;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
		endColorstr='#ffdedede', GradientType=0)
}

.ribbon:before, .ribbon:after {
	content: "";
	border-top: 3px solid #9e9e9e;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	bottom: -3px
}

.ribbon:before {
	left: 0
}

.ribbon:after {
	right: 0
}

.jobdomainrequired:after {
	content: " *";
	color: red;
	font-weight: bold;
	margin-left: 1rem;
}

.badge-notify{
   background:red;
   position:relative;
   top: -12px;
   left: -6px;
  }
  
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
	#search{
		width: 100%;
	}
	
	.card-flip{
		width: 330px;
		height: 460px;
		-webkit-transform-style: preserve-3d;
	}
	
	.keyword_bar{
		margin-top: 6.3rem;
    	margin-bottom: -4rem;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	#search{
		width:100%
	}
	
	.card-flip{
		width: 330px;
		height: 460px;
		-webkit-transform-style: preserve-3d;
	}
	
	.keyword_bar{
		margin-top: 6.3rem;
    	margin-bottom: -4rem;
	}
}

@media ( min-width :992px) {
	
	#search{
		width: 30rem;
		height: auto;
	}
	
	.card-flip{
		width: 370px;
		height: 460px;
		-webkit-transform-style: preserve-3d;
	}
	.leftmenutrigger {
		display: block;
		display: block;
		margin: 7px 20px 4px 0;
		cursor: pointer;
	}
	#wrapper {
		padding: 90px 15px 15px 15px;
	}
	.navbar-nav.side-nav.open {
		left: 0;
	}
	.navbar-nav.side-nav {
		background: #585f66;
		position: fixed;
		top: 62px;
		flex-direction: column;
		left: -220px;
		width: 200px;
		overflow-y: auto;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px
	}
	
	.keyword_bar{
		margin-top:3.7rem;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	#search{
		height: auto;
	}
	
	.card-flip{
		width: 370px;
		height: 460px;
		-webkit-transform-style: preserve-3d;
	}
	
	.keyword_bar{
		margin-top:3.7rem;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
   #search{
		height: auto;
	}
	
	.card-flip{
		width: 370px;
		height: 460px;
		-webkit-transform-style: preserve-3d;
	}
	
	.keyword_bar{
		margin-top:3.7rem;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
	#search{
		width:40rem;
	}
	
	.card-flip{
		width: 370px;
		height: 460px;
		-webkit-transform-style: preserve-3d;
	}
	
	.keyword_bar{
		margin-top:3.7rem;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	#search{
		width:45rem;
	}
	
	.card-flip{
		width: 370px;
		height: 460px;
		-webkit-transform-style: preserve-3d;
	}
	
	.keyword_bar{
		margin-top:3.7rem;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
	#search{
		width:45rem;
	}
	
	.card-flip{
		width: 370px;
		height: 460px;
		-webkit-transform-style: preserve-3d;
	}
	
	.keyword_bar{
		margin-top: 3.7rem;
	}
}

.viewmore{
	float: left;
	background-color: #1982b0;
}

.jd_header{
	background-color: #649fff;
	font-weight: bold;
}

.job_info{
	color: black;
}

#jd_body{
	white-space:pre-wrap;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
.autocomplete-suggestion { 
    cursor: pointer;
}

#profileImageDesktop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin: 12px 0;
}

#profileImageMobile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin: 12px 0;
}

.job-border{
	border-left: 5px solid #ff8d00f2!important;
}

.posted_date{	
	font-size: 12px!important;
}

.viewmore{
	float: left;
	background-color: #1982b0;
}