<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en-IN">
<head>
<script type="text/javascript">
	(function() {
		if (localStorage['name'] == "" || localStorage['name'] == undefined)
			window.location.href = "/error";
	})();
</script>
<title>Add Team / Series / Fixture - Cricket</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/ico" href="/img/favicon.ico" />
<link rel="stylesheet" href="/css/bootstrap.min.css" media="all" />
<link rel='stylesheet' href='/css/mdb.min.css' media="all" />
<link rel="stylesheet" href='/css/sample.css' media="all" />
<link rel="stylesheet prefetch" href="/css/bootstrap-datepicker.min.css" />
<link rel="stylesheet prefetch" href="/css/alertify.min.css" media="all" />

</head>
<body>
	<div class="animate">
		<nav
			class="navbar header-top fixed-top navbar-expand-lg navbar-dark banner-color">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="content-mobile" class="md-form my-0">
				<span th:if="${user == null}" class="nav-item font-weight-normal"><a
					class="nav-link" data-toggle="modal"
					data-target="#reglog_modal_form"><i
						class="fas fa-user text-warning" style="padding-right: 3px;"></i><span
						class="text-white">Log In</span></a></span> <span th:if="${user != null}"
					class="nav-item font-weight-normal"><a class="nav-link"
					th:href="@{'/user/' +  ${user}}"><i
						class="fas fa-user text-warning" style="padding-right: 3px;"></i><span
						th:text="${user}" class="text-white"></span></a></span>
			</div>
			<a class="navbar-brand mr-0" href="/" style="cursor: pointer;"><img
				src="/img/logo.png" style="height: 35px;" alt="Sports Score" /><span
				id="content-desktop" class="pr-2">Sports Score</span></a>
			<div id="navbarText"
				class="collapse navbar-dark banner-color navbar-collapse">
				<ul class="navbar-nav d-md-flex">
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/admincricketdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Cricket
							Live Scores</a></li>
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/adminfootballdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Football
							Live Scores</a></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i>Create<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu">
							<a class="dropdown-item waves-light" href="/admincricketadd">Cricket</a>
							<a class="dropdown-item waves-light" href="/adminfootballadd">Football</a>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Cricket Teams<span class="caret"></span>
					</a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketteams)}">
							<span th:each="item : ${cricketteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Football Teams<span class="caret"></span>
					</a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballteams)}">
							<span th:each="item : ${footballteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Cricket Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketseries)}">
							<span th:each="item : ${cricketseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Football Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballseries)}">
							<span th:each="item : ${footballseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
				</ul>
				<ul id="content-desktop" class="nav navbar-nav ml-auto float-right">
					<li class="nav-item"><a class="nav-link" href="#"
						data-toggle="tooltip" title="logout" onclick="logoutuser()"><i
							class="fas fa-sign-out-alt text-danger" style="padding-right: 3px;"></i>logout</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container body_container">
		<div class="row mb-3">
			<div class="col-sm-12 mt-5 mb-5">
				<div class="container body_container">
					<div class="row mt-5 d-flex justify-content-center">
						<div class="col-md-12">
							<h2 class="h2-responsive ont-weight-normal text-center mb-4">Create
								a Cricket Team</h2>
							<form id="cricketlivescoreform" class="needs-validation"
								novalidate>
								<input type="hidden" th:id="csrf" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
								<div class="row d-flex justify-content-center">
									<!-- Team Name row -->
									<div class="col-md-6">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="teamname" name="teamname" class="form-control"
												maxlength="200" spellcheck="true">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Team
												Name</div>
											<label for="teamname">Team Name</label>
										</div>
									</div>
									<!-- Team Name row End -->

									<!-- Button row -->
									<div class="col-md-2">
										<div class="md-form mb-0">
											<button class="btn btn-md btn-secondary" id="createcricketteambtn"
												onclick="createCricketTeam()">create team</button>
										</div>
									</div>
									<!-- Button row End -->
								</div>
								<br />
							</form>
						</div>
					</div>
					<div class="row mt-5 d-flex justify-content-center">
						<div class="col-md-12">
							<h2 class="h2-responsive ont-weight-normal text-center mb-4">Create
								a Cricket Series</h2>
							<form id="seriesform" class="needs-validation" novalidate>
								<div class="row d-flex justify-content-center">
									<!-- Team Name row -->
									<div class="col-md-6">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="seriesname" name="seriesname" class="form-control"
												maxlength="300" spellcheck="true">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Series</div>
											<label for="seriesname">Series</label>
										</div>
									</div>
									<!-- Team Name row End -->

									<!-- Team Name row -->
									<div class="col-md-6">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="seriesvenue" name="seriesvenue" class="form-control"
												maxlength="300" spellcheck="true">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Venue</div>
											<label for="seriesvenue">Venue</label>
										</div>
									</div>
									<!-- Team Name row End -->
								</div>

								<div class="row d-flex justify-content-center">
									<!-- Series Start row -->
									<div class="col-md-4">
										<div class="md-form mb-0">
											<i class="fas fa-calendar-alt prefix"></i> <input type="text"
												id="seriesstartdate" name="seriesstartdate"
												class="form-control form-control-sm"
												placeholder="start date" readonly>
										</div>
									</div>
									<!-- Series Start row End -->

									<!-- Series End row -->
									<div class="col-md-4">
										<div class="md-form mb-0">
											<div class="md-form mb-0">
												<i class="fas fa-calendar-alt prefix"></i> <input
													type="text" id="seriesenddate" name="seriesenddate"
													class="form-control form-control-sm" placeholder="end date"
													readonly>
											</div>
										</div>
									</div>
									<!-- Series End row End -->

									<div class="col-md-4">
										<div class="md-form mb-0">
											<button class="btn btn-md btn-secondary" id="createcricketseriesbtn"
												onclick="createCricketSeries()">create series</button>
										</div>
									</div>
								</div>
								<br />
							</form>
						</div>
					</div>

					<div class="row mt-5 d-flex justify-content-center">
						<div class="col-md-12">
							<h2 class="h2-responsive ont-weight-normal text-center mb-4">Create
								a Cricket Fixture</h2>
							<form id="seriesform" class="needs-validation" novalidate>
								<div class="row d-flex justify-content-center">
									<!-- Fixture Name row -->
									<div class="col-md-6">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="fixturename" name="fixturename" class="form-control"
												maxlength="100" spellcheck="true"
												placeholder="India vs England First ODI" required>
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Please
												ente a name</div>
											<label for="fixturename">Fixture</label>
										</div>
									</div>
									<!-- Fixture Name row End -->

									<!-- Fixture Match Format row -->
									<div class="col-md-6">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="fixturematchformat" name="fixturematchformat"
												class="form-control" maxlength="100" spellcheck="true"
												required>
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Please
												Enter Match Format</div>
											<label for="fixturematchformat">Match Format</label>
										</div>
									</div>
									<!-- Fixture Match Format row End -->
								</div>

								<div class="row d-flex">
									<!-- Fixture Series row -->
									<div class="col-md-6">
										<span class="mr-3">Select the Series</span>
										<div class="md-form mb-0 custom-control-inline"
											th:if="${not #lists.isEmpty(series)}">
											<select id="seriesselect" name="seriesselect"
												class="custom-select" required>
												<option th:each="item : ${series}" th:value="${item}" th:text="${item}"></option>
											</select>
										</div>
									</div>
									<!-- Fixture Series row end -->
								</div>

								<div class="row d-flex justify-content-center">
									<!-- Fixture Venue row -->
									<div class="col-md-6">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="fixturevenue" name="fixturevenue" class="form-control"
												maxlength="300" spellcheck="true" placeholder="Australia"
												required>
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Venue</div>
											<label for="fixturevenue">Venue</label>
										</div>
									</div>
									<!-- Fixture Venue row End -->

									<!-- Fixture Stadium row -->
									<div class="col-md-6">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="fixturestadium" name="fixturestadium"
												class="form-control" maxlength="300" spellcheck="true"
												placeholder="M.C.A." required>
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Please
												enter a stadium</div>
											<label for="fixturestadium">Stadium</label>
										</div>
									</div>
									<!-- Fixture Stadium row End -->
								</div>
								<div class="row d-flex justify-content-center">
									<!-- Fixture Team 1 row -->
									<div class="col-md-6">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="fixturefirstteam" name="fixturefirstteam"
												class="form-control" maxlength="200" spellcheck="true">
											<div class="invalid-feedback" style="margin-left: 2.5rem;"
												required>Please enter a Team name</div>
											<label for="fixturefirstteam">Team 1</label>
										</div>
									</div>
									<!-- Fixture Team 1 row End -->

									<!-- Fixture Team 2 row -->
									<div class="col-md-6">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="fixturesecondteam" name="fixturesecondteam"
												class="form-control" maxlength="200" spellcheck="true">
											<div class="invalid-feedback" style="margin-left: 2.5rem;"
												required>Please enter a Team name</div>
											<label for="fixturesecondteam">Team 2</label>
										</div>
									</div>
									<!-- Fixture Team 2 row End -->
								</div>

								<div class="row d-flex justify-content-center">
									<!-- Fixture Start Date row -->
									<div class="col-md-4">
										<div class="md-form mb-0">
											<i class="fas fa-calendar-alt prefix"></i> <input type="text"
												id="fixturestartdate" name="fixturestartdate"
												class="form-control form-control-sm"
												placeholder="Start Date" readonly required>
										</div>
									</div>
									<!-- Fixture Start Date row End -->

									<!-- Series End row -->
									<div class="col-md-4">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="fixturematchtime" name="fixturematchtime" placeholder="08:00:00"
												class="form-control" maxlength="300" spellcheck="true">
											<div class="invalid-feedback" style="margin-left: 2.5rem;"
												required>Please enter Match Time</div>
											<label for="fixturematchtime">Match Time</label>
										</div>
									</div>
									<!-- Series End row End -->

									<div class="col-md-4">
										<div class="md-form mb-0">
											<button class="btn btn-md btn-secondary" id=""
												onclick="createCricketFixture()">create fixture</button>
										</div>
									</div>
								</div>
								<br />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="top-link hide" href id="js-top" title="back to top"
		style="display: none;"> <i class="fa fa-arrow-up"></i>
	</a>

	<footer class="page-footer font-small unique-color-dark body_container">
		<div class="primary-color">
			<div class="container">
				<div class="row py-3 d-flex align-items-center">
					<div
						class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0 white-text">Get connected with us on social
							networks!</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container mt-5 mb-4 text-center text-md-left">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Sports Score</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>Get live scores, follow your favorite teams, get the latest
						insights on recent matches</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Useful links</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="/about-us">About Us</a>
					</p>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Contact</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fa fa-envelope mr-3"></i>contactus@sportscore.ie
					</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">
			© 2020-2021 Copyright: <a href="/"> Sports Score</a>
		</div>
	</footer>

</body>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" defer async></script>
<script type="text/javascript" src="/js/alertify.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mdb.min.js" defer async></script>
<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/admin/admin_cricket_creation_dashboard.js" defer
	async></script>
<link rel="stylesheet" href="/css/fontawesome.all.css" media="all">

<script type="text/javascript">
	$('#seriesstartdate').datepicker({
		format : "yyyy-mm-dd"
	});

	$('#seriesenddate').datepicker({
		format : "yyyy-mm-dd"
	});
	
	$('#fixturestartdate').datepicker({
		format : "yyyy-mm-dd"
	});
</script>

</html>