<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en-IN">
<head>
<script type="text/javascript">
	(function() {
		if (localStorage['name'] == "" || localStorage['name'] == undefined)
			window.location.href = "/error";
	})();
</script>
<title>Cricket Live Score Track</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/ico" href="/img/favicon.ico">
<link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
<link rel='stylesheet' href='/css/mdb.min.css' media="all">
<link rel="stylesheet" href='/css/sample.css' media="all">
<link rel="stylesheet prefetch" href="/css/alertify.min.css" media="all">

</head>
<body>
	<div class="animate">
		<nav
			class="navbar header-top fixed-top navbar-expand-lg navbar-dark banner-color">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="content-mobile" class="md-form my-0">
				<span th:if="${user == null}" class="nav-item font-weight-normal"><a
					class="nav-link" data-toggle="modal"
					data-target="#reglog_modal_form"><i
						class="fas fa-user text-warning" style="padding-right: 3px;"></i><span
						class="text-white">Log In</span></a></span> <span th:if="${user != null}"
					class="nav-item font-weight-normal"><a class="nav-link"
					th:href="@{'/user/' +  ${user}}"><i
						class="fas fa-user text-warning" style="padding-right: 3px;"></i><span
						th:text="${user}" class="text-white"></span></a></span>
			</div>
			<a class="navbar-brand mr-0" href="/" style="cursor: pointer;"><img
				src="/img/logo.png" style="height: 35px;" alt="Sports Score" /><span
				id="content-desktop" class="pr-2">Sports Score</span></a>
			<div id="navbarText"
				class="collapse navbar-dark banner-color navbar-collapse">
				<ul class="navbar-nav d-md-flex">
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/admincricketdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Cricket
							Live Scores</a></li>
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/adminfootballdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Football
							Live Scores</a></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i>Create<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu">
							<a class="dropdown-item waves-light" href="/admincricketadd">Cricket</a>
							<a class="dropdown-item waves-light" href="/adminfootballadd">Football</a>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Cricket Teams<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketteams)}">
							<span th:each="item : ${cricketteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Football Teams<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballteams)}">
							<span th:each="item : ${footballteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Cricket Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketseries)}">
							<span th:each="item : ${cricketseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Football Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballseries)}">
							<span th:each="item : ${footballseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
				</ul>
				<ul id="content-desktop" class="nav navbar-nav ml-auto float-right">
					<li class="nav-item"><a class="nav-link" href="#"
						data-toggle="tooltip" title="logout" onclick="logoutuser()"><i
							class="fas fa-sign-out-alt text-danger"
							style="padding-right: 3px;"></i>logout</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container body_container">
		<div class="row mb-3">
			<div class="col-sm-12 mt-5 mb-5">
				<div class="container body_container">
					<div class="row mt-5 d-flex justify-content-center">
						<div class="col-md-8" th:if="${not #lists.isEmpty(livescores)}"
							th:style="${livescores.count==0 ? 'display:none' : 'display:block'}">
							<div class="job-border" th:each="livescore : ${livescores.data}">
								<input id="liveid" type="hidden" th:value=${livescore.id} />
								<div class="card mb-5">
									<div class="card-body pt-0 pb-0"
										th:if="${livescore.matchStatus == 'In Progress' || livescore.matchStatus == 'Second Innings'}">
										<h5
											class="card-title text-success mb-3 mt-3 text-center font-weight-bold"
											th:text=${livescore.name}></h5>
										<h5 class="card-title text-danger mb-3 mt-3">
											<i class="fa fa-map-marker-alt text-danger"></i><span
												class="text-secondary font-weight-normal"
												th:text="@{ ' ' + ${livescore.stadium} + ', ' + ${livescore.venue}}"></span>
										</h5>
										<h5 class="card-title font-weight-bold text-danger mb-3 mt-3" id="iningstag">
											<span th:if="${livescore.matchStatus == 'In Progress'}"> 1st Innings</span>
											<span th:if="${livescore.matchStatus == 'Second Innings'}"> 2nd Innings</span>
										</h5>
										<h5 th:if="${livescore.matchStatus == 'In Progress'}"
											class="card-title mb-3 mt-3 text-primary font-weight-normal">
											<span th:text=${livescore.teamBattingFirst}> </span> <span
												th:text=${livescore.score}></span>/<span
												th:text=${livescore.wickets}></span> <span
												class="black-text"
												th:text="@{'(' + ${livescore.currentOver} + ' Overs)'}"></span>
										</h5>
										<h5 th:if="${livescore.matchStatus == 'Second Innings'}"
											class="card-title mb-3 mt-3 text-primary font-weight-normal">
											<span th:text=${livescore.teamBattingFirst}
												id="teambattingfirsttag"> </span> <span id="scoretag"
												th:text=${livescore.score}></span>/<span id="wicketstag"
												th:text=${livescore.wickets}></span> <span
												class="black-text" id="currentovertag"
												th:text="@{'( ' + ${livescore.currentOver} + ' / ' + ${livescore.totalOvers}  + ' overs )'}"></span>
											<span class="float-right"> <span
												th:text=${livescore.teamBattingSecond}
												id="teambattingsecondtag"> </span> <span
												id="secondteamscoretag" th:text=${livescore.secondTeamScore}></span>/<span
												id="secondteamwicketstag"
												th:text=${livescore.secondTeamWickets}></span> <span
												class="black-text" id="currentovertag"
												th:text="@{'( ' + ${livescore.secondTeamCurrentOver} + ' / ' + ${livescore.secondTeamTotalOvers}  + ' overs )'}"></span>
											</span>
										</h5>
										<h5 class="card-title mb-3 mt-3 black-text font-weight-normal">
											<span
												th:text="@{${livescore.firstBatsman} + ' (' + ${livescore.firstBatsmanScore}} + ')'">
											</span>
										</h5>
										<h5 class="card-title mb-3 mt-3 black-text font-weight-normal">
											<span
												th:text="@{${livescore.secondBatsman} + ' (' + ${livescore.secondBatsmanScore}} + ')'">
											</span>
										</h5>
										<h5 class="card-title mb-3 mt-3 black-text font-weight-normal">
											<span
												th:text="@{${livescore.firstBowler} + ' (' + ${livescore.firstBowlerFigures}} + ')'">
											</span> <span class="ml-5"
												th:text="@{${livescore.secondBowler} + ' (' + ${livescore.secondBowlerFigures}} + ')'">
											</span>
										</h5>
										<h5
											class="card-title mb-3 mt-3 text-danger font-weight-normal">
											<span th:text=${livescore.toss}> </span>
										</h5>
										<h5
											class="card-title mb-3 mt-3 text-success font-weight-bold text-center"
											th:if="${livescore.matchResult != null}">
											<span id="matchresulttag" th:text=${livescore.matchResult}>
											</span>
										</h5>
										<h5
											class="card-title mb-3 mt-3 text-danger font-weight-normal">
											<a class="btn btn-sm btn-primary"
												th:href="@{'/admincricketdashboard/' + ${livescore.id}}">Live
												scoring</a>
										</h5>
									</div>
									<div class="card-body pt-0 pb-0"
										th:if="${livescore.matchStatus == 'Match yet to start'}">
										<h4
											class="card-title text-success mb-3 mt-3 text-center font-weight-bold"
											th:text=${livescore.name}></h4>
										<h5 class="card-title text-danger mb-3 mt-3">
											<i class="fa fa-map-marker-alt text-danger"></i><span
												class="text-secondary font-weight-normal"
												th:text="@{ ' ' + ${livescore.stadium} + ', ' + ${livescore.venue}}"></span>
										</h5>
										<h5 class="text-center text-danger font-weight-bold mb-5 mt-5"
											th:text="@{ 'Match to start at ' + ${#dates.format(livescore.date, 'dd-MMM-yyyy')} + ' ' + ${livescore.time}} + ' GMT'"></h5>
										<h5
											class="card-title mb-3 mt-3 text-danger font-weight-normal">
											<a class="btn btn-sm btn-primary"
												th:href="@{'/admincricketdashboard/' + ${livescore.id}}">Start
												scoring</a>
										</h5>
									</div>
									<div class="card-body pt-0 pb-0"
										th:if="${livescore.matchStatus == 'Match Abandoned'}">
										<h4
											class="card-title text-success mb-3 mt-3 text-center font-weight-bold"
											th:text=${livescore.name}></h4>
										<h5 class="card-title text-danger mb-3 mt-3">
											<i class="fa fa-map-marker-alt text-danger"></i><span
												class="text-secondary font-weight-normal"
												th:text="@{ ' ' + ${livescore.stadium} + ', ' + ${livescore.venue}}"></span>
										</h5>
										<h5 class="text-danger">Match Abandoned</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8 mb-5" th:if="${livescores.count==0}">
							<h2
								class="h2-responsive text-center font-weight-normal text-danger">
								No Live Matches!</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="top-link hide" href id="js-top" title="back to top"
		style="display: none;"> <i class="fa fa-arrow-up"></i>
	</a>

	<footer class="page-footer font-small unique-color-dark body_container">
		<div class="primary-color">
			<div class="container">
				<div class="row py-3 d-flex align-items-center">
					<div
						class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0 white-text">Get connected with us on social
							networks!</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container mt-5 mb-4 text-center text-md-left">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Sports Score</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>Get live scores, follow your favorite teams, get the latest
						insights on recent matches</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Useful links</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="/about-us">About Us</a>
					</p>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Contact</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fa fa-envelope mr-3"></i>contactus@sportscore.ie
					</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">
			© 2020-2021 Copyright: <a href="/"> Sports Score</a>
		</div>
	</footer>

</body>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" defer async></script>
<script type="text/javascript" src="/js/alertify.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mdb.min.js" defer async></script>
<script type="text/javascript" src="/js/cricket_dashboard.js" defer
	async></script>
<link rel="stylesheet" href="/css/fontawesome.all.css" media="all">

</html>