<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en-IN">
<head>
<script type="text/javascript">
	(function() {
		if (localStorage['name'] == "" || localStorage['name'] == undefined)
			window.location.href = "/error";
	})();
</script>
<title>Football Live Score Track</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/ico" href="/img/favicon.ico">
<link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
<link rel='stylesheet' href='/css/mdb.min.css' media="all">
<link rel="stylesheet" href='/css/sample.css' media="all">
<link rel="stylesheet prefetch" href="/css/alertify.min.css" media="all">

</head>
<body>
	<div class="animate">
		<nav
			class="navbar header-top fixed-top navbar-expand-lg navbar-dark banner-color">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<a class="navbar-brand mr-0" href="/" style="cursor: pointer;"><img
				src="/img/logo.png" style="height: 35px;" alt="Sports Score" /><span
				id="content-desktop" class="pr-2">Sports Score</span></a>
			<div id="navbarText"
				class="collapse navbar-dark banner-color navbar-collapse">
				<ul class="navbar-nav d-md-flex">
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/admincricketdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Cricket
							Live Scores</a></li>
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/adminfootballdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Football
							Live Scores</a></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i>Create<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu">
							<a class="dropdown-item waves-light" href="/admincricketadd">Cricket</a>
							<a class="dropdown-item waves-light" href="/adminfootballadd">Football</a>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Cricket Teams<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketteams)}">
							<span th:each="item : ${cricketteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Football Teams<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballteams)}">
							<span th:each="item : ${footballteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Cricket Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketseries)}">
							<span th:each="item : ${cricketseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Football Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballseries)}">
							<span th:each="item : ${footballseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
				</ul>
				<ul id="content-desktop" class="nav navbar-nav ml-auto float-right">
					<li class="nav-item"><a class="nav-link" href="#"
						data-toggle="tooltip" title="logout" onclick="logoutuser()"><i
							class="fas fa-sign-out-alt text-danger"
							style="padding-right: 3px;"></i>logout</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container body_container">
		<div class="row mb-3">
			<div class="col-sm-12 mt-5 mb-5">
				<div class="container body_container">
					<input type="hidden" id="footballteam" th:value="${team}">
					<div class="row mb-3 d-flex justify-content-center">
						<div class="col-sm-6 mb-5">
							<div>
								<div class="card mb-0">
									<div class="card-body">
										<h2
											class="h2-responsive text-center text-danger font-weight-bold"
											th:text="${team}"></h2>
										<span class="text-info float-left m-0"
											style="cursor: pointer;" data-toggle="modal"
											data-target="#updateteam" data-dismiss="modal"
											title="update team"><i
											class="fas fa-edit"></i></span><span
											class="text-danger float-right m-0" style="cursor: pointer;"
											title="remove team"
											onclick="delteam()"><i
											class="fas fa-trash"></i></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-12 mb-5">
							<div class="container body_container">
								<input type="hidden" id="teamid" th:value="${teamid}" />
								<input type="hidden" th:id="csrf" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
								<script type="text/javascript" defer async>
							       function getPlayers(players){
							      		document.write('<div class="table-responsive"><table class="table table-borderless"><tbody><tr>');
							      		var i = 0;
							      		var flag=false;
							      		var limit = 2;
							      		players.forEach(function(player){
							      		  if(i % limit == 0 && flag){
							      		    document.write('</tr><tr>');
							      		  }
							      		document.write('<td><div class="card mb-0"><div class="card-body"><h5 class="d-flex justify-content-center title h6-responsive mb-0" style="font-weight: 400;color:#007bff; ">' + player.playerName +  '</h5><span class="text-info float-left m-0" style="cursor:pointer;" data-toggle="modal" data-target="#updateplayer" data-dismiss="modal" title="update player"  onclick="setplayerid(' + player.playerId + ')"><i class="fas fa-edit"></i></span><span class="text-danger float-right m-0" style="cursor:pointer;" title="remove player" onclick="delfootballplayer(' + player.playerId + ')"><i class="fas fa-trash"></i></span></div></div></td>');
							      		  i++;
							      		  flag=true;
							      		});
							      		document.write('</tr></tbody></table></div>');
							      	}
							       </script>
								<div class="row mt-3 d-flex mb-4"
									th:if="${not #lists.isEmpty(players)}">
									<script th:inline="javascript">getPlayers([[${players}]]);</script>
								</div>
							</div>
						</div>
						<div class="col-md-12 mb-5" th:if="${#lists.isEmpty(players)}">
							<h2
								class="h2-responsive text-center font-weight-normal text-danger">
								No Players in this Team!</h2>
						</div>
						<div class="col-md-12 mb-5 d-flex justify-content-center">
							<a class="btn btn-primary btn-md" data-toggle="modal"
								data-target="#createteam" data-dismiss="modal">create</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="top-link hide" href id="js-top" title="back to top"
		style="display: none;"> <i class="fa fa-arrow-up"></i>
	</a>

	<footer class="page-footer font-small unique-color-dark body_container">
		<div class="primary-color">
			<div class="container">
				<div class="row py-3 d-flex align-items-center">
					<div
						class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0 white-text">Get connected with us on social
							networks!</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container mt-5 mb-4 text-center text-md-left">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Sports Score</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>Get live scores, follow your favorite teams, get the latest
						insights on recent matches</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Useful links</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="/about-us">About Us</a>
					</p>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Contact</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fa fa-envelope mr-3"></i>contactus@sportscore.ie
					</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">
			© 2020-2021 Copyright: <a href="/"> Sports Score</a>
		</div>
	</footer>

	<!-- Modal -->
	<div class="modal fade" id="createteam" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="col-12 modal-title text-center text-primary font-weight-bold">Create
						Player</h5>
				</div>
				<div class="modal-body">
					<div class="md-form form-sm mb-5">
						<i class="fas fa-user prefix"></i> <input type="text"
							id="playername" name="playername"
							class="form-control form-control-sm validate"> <label
							data-error="please enter player name" for="playername">Player
							Name</label>
						<button class="btn btn-sm btn-info float-right" id="createplayerbtn"
							onclick="createfootballplayer()">create</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-warning"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Update player Modal -->
	<div class="modal fade" id="updateplayer" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="col-12 modal-title text-center text-primary font-weight-bold">Update
						Player</h5>
				</div>
				<div class="modal-body">
					<div class="md-form form-sm mb-5">
						<i class="fas fa-user prefix"></i> <input type="text"
							id="updateplayername" name="updateplayername"
							class="form-control form-control-sm validate" required> <label
							data-error="please enter player name" for="updateplayername">Player
							Name</label>
						<button class="btn btn-sm btn-info float-right"
							id="updateplayerbtn" onclick="updatefootballplayer()">update</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-warning"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Update Team Modal -->
	<div class="modal fade" id="updateteam" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5
						class="col-12 modal-title text-center text-primary font-weight-bold">Update
						Team</h5>
				</div>
				<div class="modal-body">
					<div class="md-form form-sm mb-5">
						<i class="fas fa-user prefix"></i> <input type="text"
							id="updateteamname" name="updateteamname"
							class="form-control form-control-sm validate"> <label
							data-error="please enter team name" for="updateteamname" required>Team
							Name</label>
						<button class="btn btn-sm btn-info float-right"
							id="updateteambtn" onclick="updateteam()">update</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-warning"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" defer async></script>
<script type="text/javascript" src="/js/alertify.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mdb.min.js" defer async></script>
<script type="text/javascript" src="/js/admin/admin_football_creation_dashboard.js" defer
	async></script>
<link rel="stylesheet" href="/css/fontawesome.all.css" media="all">

</html>