<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en-IN">
<head>
<script type="text/javascript">
	(function() {
		if (localStorage['name'] == "" || localStorage['name'] == undefined)
			window.location.href = "/error";
	})();
</script>
<title>Admin Cricket Series Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/ico" href="/img/favicon.ico">
<link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
<link rel='stylesheet' href='/css/mdb.min.css' media="all">
<link rel="stylesheet" href='/css/sample.css' media="all">
<link rel="stylesheet prefetch" href="/css/alertify.min.css" media="all">

</head>
<body>
	<div class="animate">
		<nav
			class="navbar header-top fixed-top navbar-expand-lg navbar-dark banner-color">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand mr-0" href="/" style="cursor: pointer;"><img
				src="/img/logo.png" style="height: 35px;" alt="Sports Score" /><span
				id="content-desktop" class="pr-2">Sports Score</span></a>
			<div id="navbarText"
				class="collapse navbar-dark banner-color navbar-collapse">
				<ul class="navbar-nav d-md-flex">
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/admincricketdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Cricket
							Live Scores</a></li>
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/adminfootballdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Football
							Live Scores</a></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i>Create<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu">
							<a class="dropdown-item waves-light" href="/admincricketadd">Cricket</a>
							<a class="dropdown-item waves-light" href="/adminfootballadd">Football</a>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Cricket Teams<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketteams)}">
							<span th:each="item : ${cricketteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Football Teams<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballteams)}">
							<span th:each="item : ${footballteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Cricket Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketseries)}">
							<span th:each="item : ${cricketseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Football Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballseries)}">
							<span th:each="item : ${footballseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
				</ul>
				<ul id="content-desktop" class="nav navbar-nav ml-auto float-right">
					<li class="nav-item"><a class="nav-link" href="#"
						data-toggle="tooltip" title="logout" onclick="logoutuser()"><i
							class="fas fa-sign-out-alt text-danger"
							style="padding-right: 3px;"></i>logout</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container body_container">
		<input type="hidden" th:id="csrf" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
		<div class="row mt-5 d-flex justify-content-center">
			<div class="col-md-6 d-flex mx-auto mt-5"
				style="align-items: center; flex-direction: column;">
				<h6 class="text-uppercase font-weight-bold">
					<strong th:text=${thisseries}></strong>
				</h6>
				<hr class="orange accent-2 mb-4 mt-0 d-inline-block mx-auto"
					style="width: 60px;">
			</div>
		</div>
		<div class="row mt-5 d-flex justify-content-center">
			<div class="col-md-8" th:if="${not #lists.isEmpty(fixtures)}"
				th:style="${fixtures.count==0 ? 'display:none' : 'display:block'}">
				<div class="job-border" th:each="fixture : ${fixtures.data}">
					<div class="card mb-5">
						<div class="card-body pt-0 pb-0">
							<h5
								class="card-title mb-3 mt-3 text-center text-primary font-weight-bold">
								<span th:text="${fixture.name}" style="font-size:1.4rem!important"></span><i
									class="fas fa-trash text-danger float-right" th:attr="onclick=|delfixture(${fixture.id})|" 
									 style="cursor:pointer" title="discard fixture"></i>
							</h5>
							<h5 class="card-title mb-2">
								<i class="fa fa-map-marker-alt red-text" aria-hidden="true"></i>
								Format: <span th:text="${fixture.matchType}"></span>
							</h5>
							<h5 class="card-title mb-2">
								<i class="fa fa-map-marker-alt text-danger" aria-hidden="true"></i>
								Venue: <span th:text="${fixture.venue}"></span>
							</h5>
							<h5 class="card-title mb-2">
								<i class="fa fa-map-marker-alt" aria-hidden="true"></i> Stadium:
								<span th:text="${fixture.stadium}"></span>
							</h5>
							<h5 class="card-title mb-2">
								<i class="fas fa-calendar-alt text-warning" aria-hidden="true"></i>
								Date: <span
									th:text="${#dates.format(fixture.date, 'dd-MMM-yyyy')}"></span>
							</h5>
							<h5 class="card-title mb-3">
								<i class="fas fa-clock" aria-hidden="true"></i> Time: <span
									th:text="${fixture.time}"></span>
							</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 mb-5" th:if="${fixtures.count==0}">
				<h2 class="h2-responsive text-center font-weight-normal text-danger">
					Schedule coming up soon !</h2>
			</div>
		</div>
	</div>

	<a class="top-link hide" href id="js-top" title="back to top"
		style="display: none;"> <i class="fa fa-arrow-up"></i>
	</a>

</body>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" defer async></script>
<script type="text/javascript" src="/js/alertify.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mdb.min.js" defer async></script>
<script type="text/javascript"
	src="/js/admin/admin_cricket_series_dashboard.js" defer async></script>
<link rel="stylesheet" href="/css/fontawesome.all.css" media="all">

</html>