<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en-IN">
<head>
<script type="text/javascript">
	(function() {
		if (localStorage['name'] == "" || localStorage['name'] == undefined)
			window.location.href = "/error";
	})();
</script>
<title>Cricket Live Scoring Tool</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/ico" href="/img/favicon.ico">
<link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
<link rel='stylesheet' href='/css/mdb.min.css' media="all">
<link rel="stylesheet" href='/css/sample.css' media="all">
<link rel="stylesheet prefetch" href="/css/alertify.min.css" media="all">

</head>
<body>
	<div class="animate">
		<nav
			class="navbar header-top fixed-top navbar-expand-lg navbar-dark banner-color">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="content-mobile" class="md-form my-0">
				<span th:if="${user == null}" class="nav-item font-weight-normal"><a
					class="nav-link" data-toggle="modal"
					data-target="#reglog_modal_form"><i
						class="fas fa-user text-warning" style="padding-right: 3px;"></i><span
						class="text-white">Log In</span></a></span> <span th:if="${user != null}"
					class="nav-item font-weight-normal"><a class="nav-link"
					th:href="@{'/user/' +  ${user}}"><i
						class="fas fa-user text-warning" style="padding-right: 3px;"></i><span
						th:text="${user}" class="text-white"></span></a></span>
			</div>
			<a class="navbar-brand mr-0" href="/" style="cursor: pointer;"><img
				src="/img/logo.png" style="height: 35px;" alt="Sports Score" /><span
				id="content-desktop" class="pr-2">Sports Score</span></a>
			<div id="navbarText"
				class="collapse navbar-dark banner-color navbar-collapse">
				<ul class="navbar-nav d-md-flex">
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/admincricketdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Cricket
							Live Scores</a></li>
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/adminfootballdashboard"><i
							class="fas fa-dot-circle red-text" style="padding-right: 3px;"></i>Football
							Live Scores</a></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i>Create<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu">
							<a class="dropdown-item waves-light" href="/admincricketadd">Cricket</a>
							<a class="dropdown-item waves-light" href="/adminfootballadd">Football</a>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Cricket Teams<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketteams)}">
							<span th:each="item : ${cricketteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Football Teams<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballteams)}">
							<span th:each="item : ${footballteams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballteams/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Cricket Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(cricketseries)}">
							<span th:each="item : ${cricketseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/admincricketseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Football Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(footballseries)}">
							<span th:each="item : ${footballseries}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/adminfootballseries/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
				</ul>
				<ul id="content-desktop" class="nav navbar-nav ml-auto float-right">
					<li class="nav-item"><a class="nav-link" href="#"
						data-toggle="tooltip" title="logout" onclick="logoutuser()"><i
							class="fas fa-sign-out-alt text-danger"
							style="padding-right: 3px;"></i>logout</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container-fluid body_container">
		<div class="row mb-3 col-md-12">
			<div class="col-md-6 mt-5 mb-5">
				<div class="d-flex justify-content-center">
					<div class="row ">
						<div class="col-md-12 mb-md-0 mb-5">
							<form id="cricketlivescoreform" class="needs-validation"
								novalidate>
								<input type="hidden" th:id="csrf"
									th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<div class="row mt-4">
									<div class="col-md-10 mx-auto"
										style="align-items: center; flex-direction: column;">
										<h6 class="text-uppercase font-weight-bold">
											<strong th:text=${name}></strong>
										</h6>
										<hr
											class=" text-center purple accent-2 pl-5 mt-0 d-inline-block mx-auto"
											style="width: 100px;">
									</div>
								</div>

								<div class="row">
									<!-- Toss on strike row -->
									<div class="col-md-10">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="toss" name="toss" class="form-control" maxlength="100"
												spellcheck="true" th:value="${matchscores.data.toss}">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Toss</div>
											<label for="toss">Toss</label>
										</div>
									</div>
									<!-- Toss row End -->
								</div>
								<br />

								<div class="row">

									<!-- Team Batting First row -->
									<div class="col-md-5">
										<span class="ml-3">Team Batting First</span>
										<div class="md-form m-3 custom-control-inline">
											<select id="teambattingfirst" name="teambattingfirst"
												class="custom-select" required>
												<option disabled readonly value="">select team</option>
												<option
													th:selected="${matchscores.data.teamBattingFirst} eq ${firstteam}"
													th:value="${firstteam}" th:text="${firstteam}"></option>
												<option
													th:selected="${matchscores.data.teamBattingFirst} eq ${secondteam}"
													th:value="${secondteam}" th:text="${secondteam}"></option>
											</select>
										</div>
									</div>
									<!-- Team batting First row End -->

									<!-- Team Batting Second row -->
									<div class="col-md-5">
										<span>Team Batting Second</span>
										<div class="md-form m-3 custom-control-inline">
											<select id="teambattingsecond" name="teambattingsecond"
												class="custom-select" required>
												<option disabled readonly value="">select team</option>
												<option
													th:selected="${matchscores.data.teamBattingSecond} eq ${firstteam}"
													th:value="${firstteam}" th:text="${firstteam}"></option>
												<option
													th:selected="${matchscores.data.teamBattingSecond} eq ${secondteam}"
													th:value="${secondteam}" th:text="${secondteam}"></option>
											</select>
										</div>
									</div>
									<!-- Team Batting Second row End -->
								</div>
								<br />

								<div class="row">

									<!-- Score row -->
									<div class="col-md-5">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="score" name="score" class="form-control" maxlength="100"
												spellcheck="true" th:value=${matchscores.data.score}
												th:if="${matchscores.data.matchStatus != 'Second Innings'}">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="score" name="score" class="form-control" maxlength="100"
												spellcheck="true"
												th:value="${matchscores.data.secondTeamScore}"
												th:if="${matchscores.data.matchStatus == 'Second Innings'}">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Score</div>
											<label for="score">Team Runs</label>
										</div>
									</div>
									<!-- Score row End -->

									<!-- Wickets row -->
									<div class="col-md-5">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="wickets" name="wickets" class="form-control"
												maxlength="100" spellcheck="true"
												th:value=${matchscores.data.wickets}
												th:if="${matchscores.data.matchStatus != 'Second Innings'}">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="wickets" name="wickets" class="form-control"
												maxlength="100" spellcheck="true"
												th:value="${matchscores.data.secondTeamWickets}"
												th:if="${matchscores.data.matchStatus == 'Second Innings'}">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Wickets</div>
											<label for="wickets">Wickets</label>
										</div>
									</div>
									<!-- Wickets row End -->
								</div>
								<br />

								<div class="row">
									<!-- Current Over row -->
									<div class="col-md-5">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="currentover" name="currentover" class="form-control"
												maxlength="100" spellcheck="true"
												th:value="${matchscores.data.currentOver}"
												th:if="${matchscores.data.matchStatus != 'Second Innings'}">
											<input type="text" id="currentover" name="currentover"
												class="form-control" maxlength="100" spellcheck="true"
												th:value="${matchscores.data.secondTeamCurrentOver}"
												th:if="${matchscores.data.matchStatus == 'Second Innings'}">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Overs
												completed</div>
											<label for="currentover">Overs completed</label>
										</div>
									</div>
									<!-- Current Over row End -->

									<!-- Total Overs Score row -->
									<div class="col-md-5">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="totalovers" name="totalovers" class="form-control"
												maxlength="100" spellcheck="true"
												th:value="${matchscores.data.totalOvers}"
												th:if="${matchscores.data.matchStatus != 'Second Innings'}">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="totalovers" name="totalovers" class="form-control"
												maxlength="100" spellcheck="true"
												th:value="${matchscores.data.secondTeamTotalOvers}"
												th:if="${matchscores.data.matchStatus == 'Second Innings'}">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Total
												overs</div>
											<label for="totalovers">Total overs</label>
										</div>
									</div>
									<!-- Total Overs row End -->
								</div>
								<br />

								<div class="row mt-5">
									<div class="col-md-4 mx-auto"
										style="align-items: center; flex-direction: column;">
										<h6 class="text-uppercase red-text font-weight-bold">
											<strong>Batsman</strong>
										</h6>
										<hr class="green accent-2 pl-5 mt-0 d-inline-block mx-auto"
											style="width: 40px;">
									</div>
								</div>

								<div class="row">
									<!-- Batsman 1 row -->
									<div class="col-md-5"
										th:if="${matchscores.data.matchStatus != 'Second Innings'}">
										<span class="ml-3">Batsman 1</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="firstbatsman" name="firstbatsman"
												class="custom-select">
												<option disabled value="">select batsman 1</option>
												<option th:each="teamplayer : ${firstcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.firstBatsman} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>

									<div class="col-md-5"
										th:if="${matchscores.data.matchStatus == 'Second Innings'}">
										<span class="ml-3">Batsman 1</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="firstbatsman" name="firstbatsman"
												class="custom-select">
												<option disabled value="">select batsman 1</option>
												<option th:each="teamplayer : ${secondcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.firstBatsman} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>
									<!-- Batsman 1 row End -->

									<!-- Batsman 1 Score row -->
									<div class="col-md-5">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="firstbatsmanscore" name="firstbatsmanscore"
												class="form-control" maxlength="100" spellcheck="true"
												th:value=${matchscores.data.firstBatsmanScore}>
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Batsman
												1 Score</div>
											<label for="firstbatsmanscore">Batsman 1 Score</label>
										</div>
									</div>
									<!-- Batsman 1 score row End -->
								</div>
								<br />

								<div class="row">
									<!-- Batsman 2 row -->
									<div class="col-md-5"
										th:if="${matchscores.data.matchStatus != 'Second Innings'}">
										<span class="ml-3">Batsman 2</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="secondbatsman" name="secondbatsman"
												class="custom-select">
												<option disabled value="">select batsman 2</option>
												<option th:each="teamplayer : ${firstcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.secondBatsman} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>

									<div class="col-md-5"
										th:if="${matchscores.data.matchStatus == 'Second Innings'}">
										<span class="ml-3">Batsman 2</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="secondbatsman" name="secondbatsman"
												class="custom-select">
												<option disabled value="">select batsman 2</option>
												<option th:each="teamplayer : ${secondcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.secondBatsman} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>
									<!-- Batsman 2 row End -->

									<!-- Batsman 2 Score row -->
									<div class="col-md-5">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="secondbatsmanscore" name="secondbatsmanscore"
												class="form-control" maxlength="100" spellcheck="true"
												th:value=${matchscores.data.secondBatsmanScore}>
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Batsman
												2 Score</div>
											<label for="secondbatsmanscore">Batsman 2 Score</label>
										</div>
									</div>
									<!-- Batsman 2 Score row End -->
								</div>
								<br />

								<div class="row">
									<!-- Batsman on strike row -->
									<div class="col-md-10"
										th:if="${matchscores.data.matchStatus != 'Second Innings'}">
										<span class="ml-1">Batsman on Strike</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="batsmanonstrike" name="batsmanonstrike"
												class="custom-select">
												<option disabled value="">select Batsman on strike</option>
												<option th:each="teamplayer : ${firstcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.batsmanOnStrike} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>

									<div class="col-md-10"
										th:if="${matchscores.data.matchStatus == 'Second Innings'}">
										<span class="ml-1">Batsman on Strike</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="batsmanonstrike" name="batsmanonstrike"
												class="custom-select">
												<option disabled value="">select Batsman on strike</option>
												<option th:each="teamplayer : ${secondcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.batsmanOnStrike} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>
									<!-- Batsman on strike row End -->
								</div>
								<br />

								<div class="row mt-5">
									<div class="col-md-4 mx-auto"
										style="align-items: center; flex-direction: column;">
										<h6 class="text-uppercase red-text font-weight-bold">
											<strong>Bowler</strong>
										</h6>
										<hr class="green accent-2 pl-5 mt-0 d-inline-block mx-auto"
											style="width: 40px;">
									</div>
								</div>

								<div class="row">

									<!-- Bowler 1 row -->
									<div class="col-md-5 mt-3"
										th:if="${matchscores.data.matchStatus != 'Second Innings'}">
										<span class="ml-3">Bowler 1</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="firstbowler" name="firstbowler"
												class="custom-select">
												<option disabled value="">select bowler 1</option>
												<option th:each="teamplayer : ${secondcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.firstBowler} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>

									<div class="col-md-5 mt-1"
										th:if="${matchscores.data.matchStatus == 'Second Innings'}">
										<span class="ml-3">Bowler 1</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="firstbowler" name="firstbowler"
												class="custom-select">
												<option disabled value="">select bowler 1</option>
												<option th:each="teamplayer : ${firstcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.firstBowler} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>
									<!-- Bowler 1 row End -->

									<!-- Bowler 1 figures row -->
									<div class="col-md-5">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="firstbowlerfigures" name="firstbowlerfigures"
												class="form-control" maxlength="100" spellcheck="true"
												th:value="${matchscores.data.firstBowlerFigures}">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Bowler
												1 Figures</div>
											<label for="firstbowlerfigures">Bowler 1 Figures</label>
										</div>
									</div>
									<!-- Bowler 1 figures row End -->
								</div>
								<br />

								<div class="row">

									<!-- Bowler 2 row -->
									<div class="col-md-5 mt-3"
										th:if="${matchscores.data.matchStatus != 'Second Innings'}">
										<span class="ml-3">Bowler 2</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="secondbowler" name="secondbowler"
												class="custom-select">
												<option disabled value="">select bowler 2</option>
												<option th:each="teamplayer : ${secondcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.secondBowler} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>

									<div class="col-md-5 mt-1"
										th:if="${matchscores.data.matchStatus == 'Second Innings'}">
										<span class="ml-3">Bowler 2</span>
										<div class="md-form m-1 custom-control-inline">
											<select id="secondbowler" name="secondbowler"
												class="custom-select">
												<option disabled value="">select bowler 2</option>
												<option th:each="teamplayer : ${firstcricketteam}"
													th:value="${teamplayer.playerName}"
													th:text="${teamplayer.playerName}"
													th:selected="${matchscores.data.secondBowler} eq ${teamplayer.playerName}"></option>
											</select>
										</div>
									</div>
									<!-- Bowler 2 row End -->

									<!-- Bowler 2 figures row -->
									<div class="col-md-5">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="secondbowlerfigures" name="secondbowlerfigures"
												class="form-control" maxlength="100" spellcheck="true"
												th:value=${matchscores.data.secondBowlerFigures}>
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Bowler
												2 Figures (O-M-R-W)</div>
											<label for="secondbowlerfigures">Bowler 2 Figures</label>
										</div>
									</div>
									<!-- Bowler 2 figures row End -->
								</div>
								<br />

								<div class="row">
									<!-- Match Status -->
									<div class="col-md-10">
										<div class="md-form mb-0">
											<span class="mr-3">Match Status</span>
											<div class="md-form mb-0 custom-control-inline">
												<select id="matchstatus" name="matchstatus"
													class="custom-select" required>
													<option
														th:selected="${matchscores.data.matchStatus == 'Match yet to start'}"
														value="Match yet to start">Match yet to start</option>
													<option
														th:selected="${matchscores.data.matchStatus == 'In Progress'}"
														value="In Progress">In Progress</option>
													<option
														th:selected="${matchscores.data.matchStatus == 'Abandoned'}"
														value="Match Abandoned">Match Abandoned</option>
													<option
														th:selected="${matchscores.data.matchStatus == 'Second Innings'}"
														value="Second Innings">Second Innings</option>
												</select>
												<span class="ml-4 text-danger">Changing this will reload the page</span>
											</div>
										</div>
									</div>
									<!-- Match Status row End -->
								</div>
								<br />

								<div class="row">

									<!-- Match Result row -->
									<div class="col-md-10">
										<div class="md-form mb-0">
											<i class="fas fa-pencil-alt prefix"></i> <input type="text"
												id="matchresult" name="matchresult" class="form-control"
												maxlength="100" spellcheck="true"
												th:value="${matchscores.data.matchResult}">
											<div class="invalid-feedback" style="margin-left: 2.5rem;">Match
												Result</div>
											<label for="matchresult">Match Result</label>
										</div>
									</div>
									<!-- Match Result row End -->
								</div>
								<br />

								<!-- Post Button -->
								<div class="text-center text-md-left">
									<button class="float-right btn btn-success"
										data-toggle="tooltip" title="click to update"
										id="cricketlivescoreupdatebtn" onclick="update()">Update</button>
								</div>
								<!-- Post Button End -->
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-5 mb-5">
				<div class="row mt-5 d-flex justify-content-center">
					<div class="col-md-8" th:if="${not #lists.isEmpty(matchscores)}"
						th:style="${matchscores.count==0 ? 'display:none' : 'display:block'}">
						<div class="job-border" th:each="livescore : ${matchscores.data}">
							<input id="liveid" type="hidden" th:value=${livescore.id} />
							<div class="card mb-5">
								<div class="card-body pt-0 pb-0"
									th:if="${livescore.matchStatus == 'In Progress' || livescore.matchStatus == 'Second Innings'}">
									<h4 id="name"
										class="card-title text-success mb-3 mt-3 text-center font-weight-bold"
										th:text=${livescore.name}></h4>
									<h5 class="card-title text-danger mb-3 mt-3">
										<i class="fa fa-map-marker-alt text-danger"></i><span
											class="text-secondary font-weight-normal"
											th:text="@{ ' ' + ${livescore.stadium} + ', ' + ${livescore.venue}}"></span>
									</h5>
									<h5 class="card-title font-weight-bold text-danger mb-3 mt-3"
										id="iningstag">
										<span th:if="${livescore.matchStatus == 'In Progress'}">
											1st Innings</span> <span
											th:if="${livescore.matchStatus == 'Second Innings'}">
											2nd Innings</span>
									</h5>
									<h5 th:if="${livescore.matchStatus == 'In Progress'}"
										class="card-title mb-3 mt-3 text-primary font-weight-normal">
										<span th:text=${livescore.teamBattingFirst}
											id="teambattingfirsttag"> </span> <span id="scoretag"
											th:text=${livescore.score}></span>/<span id="wicketstag"
											th:text=${livescore.wickets}></span> <span class="black-text"
											id="currentovertag"
											th:text="@{'( ' + ${livescore.currentOver} + ' / ' + ${livescore.totalOvers}  + ' overs )'}"></span>
									</h5>
									<h5 th:if="${livescore.matchStatus == 'Second Innings'}"
										class="card-title mb-3 mt-3 text-primary font-weight-normal">
										<span th:text=${livescore.teamBattingFirst}
											id="teambattingfirsttag"> </span> <span id="scoretag"
											th:text=${livescore.score}></span>/<span id="wicketstag"
											th:text=${livescore.wickets}></span> <span class="black-text"
											id="currentovertag"
											th:text="@{'( ' + ${livescore.currentOver} + ' / ' + ${livescore.totalOvers}  + ' overs )'}"></span>
										<span class="float-right"> <span
											th:text=${livescore.teamBattingSecond}
											id="teambattingsecondtag"> </span> <span
											id="secondteamscoretag" th:text=${livescore.secondTeamScore}></span>/<span
											id="secondteamwicketstag"
											th:text=${livescore.secondTeamWickets}></span> <span
											class="black-text" id="currentovertag"
											th:text="@{'( ' + ${livescore.secondTeamCurrentOver} + ' / ' + ${livescore.secondTeamTotalOvers}  + ' overs )'}"></span>
										</span>
									</h5>
									<h5 class="card-title mb-3 mt-3 black-text font-weight-normal">
										<span id="firstbatsmantag"
											th:text="@{${livescore.firstBatsman} + ' (' + ${livescore.firstBatsmanScore}} + ')'">
										</span>
									</h5>
									<h5 class="card-title mb-3 mt-3 black-text font-weight-normal">
										<span id="secondbatsmantag"
											th:text="@{${livescore.secondBatsman} + ' (' + ${livescore.secondBatsmanScore}} + ')'">
										</span>
									</h5>
									<h5 class="card-title mb-3 mt-3 black-text font-weight-normal">
										<span id="firstbowlertag"
											th:text="@{${livescore.firstBowler} + ' (' + ${livescore.firstBowlerFigures}} + ')'">
										</span> <span class="ml-5" id="secondbowlertag"
											th:text="@{${livescore.secondBowler} + ' (' + ${livescore.secondBowlerFigures}} + ')'">
										</span>
									</h5>
									<h5 class="card-title mb-3 mt-3 text-danger font-weight-normal">
										<span id="tosstag" th:text=${livescore.toss}> </span>
									</h5>
									<h5
										class="card-title mb-3 mt-3 text-success font-weight-bold text-center"
										th:if="${livescore.matchResult != null}">
										<span id="matchresulttag" th:text=${livescore.matchResult}>
										</span>
									</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-8 mb-5" th:if="${matchscores.count==0}">
						<h2
							class="h2-responsive text-center font-weight-normal text-danger">
							No Live Matches!</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="top-link hide" href id="js-top" title="back to top"
		style="display: none;"> <i class="fa fa-arrow-up"></i>
	</a>

	<footer class="page-footer font-small unique-color-dark body_container">
		<div class="primary-color">
			<div class="container">
				<div class="row py-3 d-flex align-items-center">
					<div
						class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0 white-text">Get connected with us on social
							networks!</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container mt-5 mb-4 text-center text-md-left">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Sports Score</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>Get live scores, follow your favorite teams, get the latest
						insights on recent matches</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Useful links</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="/about-us">About Us</a>
					</p>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Contact</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fa fa-envelope mr-3"></i>contactus@sportscore.ie
					</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">
			© 2020-2021 Copyright: <a href="/"> Sports Score</a>
		</div>
	</footer>

</body>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" defer async></script>
<script type="text/javascript" src="/js/alertify.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mdb.min.js" defer async></script>
<script type="text/javascript"
	src="/js/admin/admin_live_cricket_score.js" defer async></script>
<link rel="stylesheet" href="/css/fontawesome.all.css" media="all">

</html>