<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en-IN">
<head>
<title>[[${name}]] - Live Scores - Cricket</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/ico" href="/img/favicon.ico">
<link rel="stylesheet" href="/css/bootstrap.min.css" media="all">
<link rel='stylesheet' href='/css/mdb.min.css' media="all">
<link rel="stylesheet" href='/css/sample.css' media="all">
<link rel="stylesheet prefetch" href="/css/alertify.min.css" media="all">

</head>
<body>
	<div class="animate">
		<nav
			class="navbar header-top fixed-top navbar-expand-lg navbar-dark banner-color">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="content-mobile" class="md-form my-0">
				<span th:if="${user == null}" class="nav-item font-weight-normal"><a
					class="nav-link" data-toggle="modal"
					data-target="#reglog_modal_form"><i
						class="fas fa-user text-warning" style="padding-right: 3px;"></i><span
						class="text-white">Log In</span></a></span> <span th:if="${user != null}"
					class="nav-item font-weight-normal"><a class="nav-link"
					th:href="@{'/user/' +  ${user}}"><i
						class="fas fa-user text-warning" style="padding-right: 3px;"></i><span
						th:text="${user}" class="text-white"></span></a></span>
			</div>
			<a class="navbar-brand mr-0" href="/" style="cursor: pointer;"><img
				src="/img/logo.png" style="height: 35px;" alt="Sports Score" /><span
				id="content-desktop" class="pr-2">Sports Score</span></a>
			<div id="navbarText"
				class="collapse navbar-dark banner-color navbar-collapse">
				<ul class="navbar-nav d-md-flex">
					<li class="nav-item font-weight-normal"><a class="nav-link"
						href="/sports/cricket"><i class="fas fa-dot-circle red-text"
							style="padding-right: 3px;"></i>Live Scores</a></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-users black-text"></i> Teams<span class="caret"></span>
					</a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(teams)}">
							<span th:each="item : ${teams}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/sports/cricket/team/' + ${item}}" th:text="${item}"></a>
							</span>
						</div></li>
					<li class="nav-item dropdown"><a type="button"
						class="nav-link dropdown-toggle waves-light"><i
							class="fas fa-calendar-alt text-warning"></i> Series<span
							class="caret"></span> </a>
						<div class="dropdown-menu dropdown dropdown-primary" role="menu"
							th:if="${not #lists.isEmpty(series)}">
							<span th:each="item : ${series}"> <a
								class="dropdown-item waves-light"
								th:href="@{'/sports/cricket/series/' + ${item}}"
								th:text="${item}"></a>
							</span>
						</div></li>
					<li id="content-mobile" th:if="${user != null}"
						class="nav-item font-weight-normal" title="logout"
						onclick="logout()"><a class="nav-link" href><i
							class="fas fa-sign-out-alt text-danger"
							style="padding-right: 3px;"></i> Logout</a></li>
				</ul>
				<ul id="content-desktop" class="nav navbar-nav ml-auto float-right">
					<li th:if="${user == null}" class="nav-item font-weight-normal"><a
						class="nav-link" data-toggle="modal"
						data-target="#reglog_modal_form"><i
							class="fas fa-user text-secondary" style="padding-right: 3px;"></i>Log
							In</a></li>
					<li th:if="${user != null}" class="nav-item font-weight-normal"><a
						class="nav-link" th:href="@{'/user/' +  ${user}}"><i
							class="fas fa-user text-warning" style="padding-right: 3px;"></i><span
							th:text="${user}"></span></a></li>
					<li th:if="${user != null}" class="nav-item font-weight-normal"><a
						class="nav-link" th:href="@{'/user/' +  ${user}}"><i
							class="fas fa-sign-out-alt text-danger"
							style="padding-right: 3px;" title="logout" onclick="logout()"></i></a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container body_container">
		<div class="row mb-3">
			<div class="col-sm-12 mt-5">
				<div class="container body_container">
					<input type="hidden" th:id="csrf" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
					<div class="row mt-5 d-flex justify-content-center">
						<div class="col-md-8" th:if="${not #lists.isEmpty(matchscores)}"
							th:style="${matchscores.count==0 ? 'display:none' : 'display:block'}">
							<div class="job-border" th:each="livescore : ${matchscores.data}">
								<input id="liveid" type="hidden" th:value=${livescore.id} /> <input
									id="fixid" type="hidden" th:value=${livescore.fixtureId} />
								<div class="card mb-5">
									<div class="card-body pt-0 pb-0"
										th:if="${livescore.matchStatus == 'In Progress' || livescore.matchStatus == 'Second Innings'}">
										<h4 id="livescorename"
											class="card-title text-success mb-3 mt-3 text-center font-weight-bold"
											th:text=${livescore.name}></h4>
										<h5 class="card-title text-danger mb-3 mt-3">
											<i class="fa fa-map-marker-alt text-danger"></i><span
												class="text-secondary font-weight-normal"
												th:text="@{ ' ' + ${livescore.stadium} + ', ' + ${livescore.venue}}"></span>
										</h5>
										<h5 class="card-title font-weight-bold text-danger mb-3 mt-3">
											<span
												th:style="${livescore.matchStatus == 'In Progress' ? 'display:block' : 'display:none'}"
												id="firstinningstag"> 1st Innings</span> <span
												th:style="${livescore.matchStatus == 'Second Innings' ? 'display:block' : 'display:none'}"
												id="secondinningstag"> 2nd Innings</span>
										</h5>
										<div>
											<h5
												class="card-title mb-3 mt-3 text-primary font-weight-normal">
												<span th:text=${livescore.teamBattingFirst}> </span> <span
													id="scoretag" th:text=${livescore.score}></span>/<span
													id="wicketstag" th:text=${livescore.wickets}></span> <span
													class="black-text" id="currentovertag"
													th:text="@{'( ' + ${livescore.currentOver} + ' / ' + ${livescore.totalOvers}  + ' overs )'}"></span>

												<span class="float-right" id="secondteamlivescore"
													th:style="${livescore.matchStatus == 'Second Innings' ? 'display:block' : 'display:none'}">
													<span th:text=${livescore.teamBattingSecond}
													id="teambattingsecondtag"> </span> <span
													id="secondteamscoretag"
													th:text=${livescore.secondTeamScore}></span>/<span
													id="secondteamwicketstag"
													th:text=${livescore.secondTeamWickets}></span> <span
													class="black-text" id="secondTeamCurrentovertag"
													th:text="@{'( ' + ${livescore.secondTeamCurrentOver} + ' / ' + ${livescore.secondTeamTotalOvers}  + ' overs )'}"></span>
												</span>
											</h5>

										</div>
										<h5 class="card-title mb-3 mt-3 black-text font-weight-normal">
											<span id="firstbatsmantag"
												th:text="@{${livescore.firstBatsman} + ' (' + ${livescore.firstBatsmanScore}} + ')'">
											</span>
										</h5>
										<h5 class="card-title mb-3 mt-3 black-text font-weight-normal">
											<span id="secondbatsmantag"
												th:text="@{${livescore.secondBatsman} + ' (' + ${livescore.secondBatsmanScore}} + ')'">
											</span>
										</h5>
										<h5 class="card-title mb-3 mt-3 black-text font-weight-normal">
											<span id="firstbowlertag"
												th:text="@{${livescore.firstBowler} + ' (' + ${livescore.firstBowlerFigures}} + ')'">
											</span> <span class="ml-5" id="secondbowlertag"
												th:text="@{${livescore.secondBowler} + ' (' + ${livescore.secondBowlerFigures}} + ')'">
											</span>
										</h5>
										<h5
											class="card-title mb-3 mt-3 text-danger font-weight-normal">
											<span id="tosstag" th:text=${livescore.toss}> </span>
										</h5>
										<h5
											class="card-title mb-3 mt-3 text-success font-weight-bold text-center"
											th:if="${livescore.matchResult != null}">
											<span id="matchresulttag" th:text=${livescore.matchResult}>
											</span>
										</h5>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-8 mb-5" th:if="${matchscores.count==0}">
							<h2
								class="h2-responsive text-center font-weight-normal text-danger">
								No Live matches!</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-3 d-flex justify-content-center">
			<div class="col-sm-8  ">
				<div class="form-group shadow-textarea">
					<textarea class="form-control z-depth-1" id="comments" rows="3"
						placeholder="Write something here..."></textarea>
					<button class="btn btn-md btn-primary mt-3 float-right"
						onclick="blogit()">comment</button>
				</div>
			</div>
		</div>
		<div class="row mb-3 d-flex justify-content-center">
			<div class="col-sm-8  ">
				<label>Comments</label>

				<div class="commentsdiv">
					<div class="col-md-8" th:if="${not #lists.isEmpty(blogs)}"
						th:style="${matchscores.count==0 ? 'display:none' : 'display:block'}">
						<div th:each="blog : ${blogs.data}">
							<div class="card-img-top d-flex">
								<div>
									<div id="profileImageDesktop" class="ml-2 profile"
										th:text="${#strings.capitalizeWords(#strings.substring(blog.userId,0,1))}"></div>
									<div id="profileImageMobile" class="ml-2 profile"
										th:text="${#strings.substring(blog.userId,0,1)}"></div>
								</div>
								<div class="ml-2 mt-1">
									<h1 class="title mt-4 h3-responsive mb-0"
										style="font-weight: 400;"
										th:text="@{${blog.userId} + ' : ' + ${blog.userComments}}"></h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<a class="top-link hide" href id="js-top" title="back to top"
		style="display: none;"> <i class="fa fa-arrow-up"></i>
	</a>

	<footer class="page-footer font-small unique-color-dark body_container">
		<div class="primary-color">
			<div class="container">
				<div class="row py-3 d-flex align-items-center">
					<div
						class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
						<h6 class="mb-0 white-text">Get connected with us on social
							networks!</h6>
					</div>
				</div>
			</div>
		</div>
		<div class="container mt-5 mb-4 text-center text-md-left">
			<div class="row mt-3">
				<div class="col-md-3 col-lg-4 col-xl-3 mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Sports Score</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>Get live scores, follow your favorite teams, get the latest
						insights on recent matches</p>
				</div>
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Useful links</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="/about-us">About Us</a>
					</p>
				</div>
				<div class="col-md-4 col-lg-3 col-xl-3">
					<h6 class="text-uppercase font-weight-bold">
						<strong>Contact</strong>
					</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fa fa-envelope mr-3"></i>contactus@sportscore.ie
					</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright text-center py-3">
			© 2020-2021 Copyright: <a href="/"> Sports Score</a>
		</div>
	</footer>

</body>

<!--Modal: Login / Register Form-->
<div class="modal fade" id="reglog_modal_form" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog cascading-modal" role="document">
		<!--Content-->
		<div class="modal-content ">

			<!--Modal cascading tabs-->
			<div class="modal-c-tabs">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs md-tabs tabs-2" role="tablist"
					style="background-color: white;">
					<li class="nav-item"><a
						class="nav-link active font-weight-bold" data-toggle="tab"
						href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
							Login</a></li>
					<li class="nav-item"><a class="nav-link font-weight-bold"
						data-toggle="tab" href="#panel8" role="tab"><i
							class="fas fa-user-plus mr-1"></i> SignUp</a></li>
				</ul>

				<!-- Tab panels -->
				<div class="tab-content">
					<!--Panel 7-->
					<div class="tab-pane fade in show active" id="panel7"
						role="tabpanel">

						<!--Body-->
						<div class="modal-body mb-1">
							<div class="md-form form-sm mb-5">
								<i class="fas fa-envelope prefix"></i> <input type="email"
									id="logemail" name="logemail"
									class="form-control form-control-sm validate"> <label
									data-error="" data-success="" for="logemail">Your email</label>
							</div>

							<div class="md-form form-sm mb-4">
								<i class="fas fa-lock prefix"></i> <input type="password"
									id="logpassword" name="logpassword"
									class="form-control form-control-sm validate"> <label
									data-error="" data-success="" for="logpassword">Your
									password</label>
							</div>
							<div class="g-recaptcha col-sm-5 mb-5"
								th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
							<span id="captchaError" class="alert alert-danger col-sm-4 mb-5"
								style="display: none"></span>
							<div class="text-center mt-5">
								<button class="btn btn-secondary btn-md" onclick="login()">
									Log in <i class="fas fa-sign-in ml-1"></i>
								</button>
							</div>
						</div>
						<!--Footer-->
						<div class="modal-footer">
							<div>
								<p class="m-0">
									<a data-toggle="modal" data-target="#forgotpasswordmodal"
										data-dismiss="modal">forgot password?</a>
								</p>
							</div>
							<button type="button"
								class="btn btn-warning btn-sm waves-effect ml-auto"
								data-dismiss="modal">Close</button>
						</div>

					</div>
					<!--/.Panel 7-->

					<!--Panel 8-->
					<div class="tab-pane fade" id="panel8" role="tabpanel">

						<!--Body-->
						<div class="modal-body">
							<form id="regform" name="regform" enctype="multipart/form-data">

								<div class="md-form form-sm mb-5">
									<i class="fas fa-user prefix"></i> <input type="text" id="name"
										name="name" class="form-control form-control-sm validate">
									<label data-error="please enter your name" for="name">What
										should we call you?</label>
								</div>

								<div class="md-form form-sm mb-5">
									<i class="fas fa-envelope prefix"></i> <input type="email"
										id="regemail" name="regemail"
										class="form-control form-control-sm validate"> <label
										data-error="please enter your email" for="regemail">Your
										email</label>
								</div>

								<div class="md-form form-sm mb-5">
									<i class="fas fa-id-card prefix"></i> <input type="text"
										id="userid" name="userid"
										class="form-control form-control-sm validate"> <label
										data-error="please enter a User Id" for="userid">Create
										a User Id</label>
								</div>

								<div class="md-form form-sm mb-5">
									<i class="fas fa-lock prefix"></i> <input type="password"
										id="regpassword" name="regpassword"
										class="form-control form-control-sm validate"> <label
										data-error="please enter your password" for="regpassword">Your
										password</label>
								</div>

								<div class="md-form form-sm mb-4">
									<i class="fas fa-lock prefix"></i> <input type="password"
										id="repeat_password"
										class="form-control form-control-sm validate"> <label
										data-error="please repeat your password" for="repeat_password">Repeat
										password</label>
								</div>

								<div class="text-center form-sm mt-5">
									<button class="btn btn-secondary btn-md" onclick="register()">
										Sign up<i class="fas fa-sign-in ml-1"></i>
									</button>
								</div>
							</form>
						</div>
						<!--Footer-->
						<div class="modal-footer">
							<button type="submit"
								class="btn btn-warning btn-sm waves-effect ml-auto"
								data-dismiss="modal">close</button>
						</div>
					</div>
					<!--/.Panel 8-->
				</div>

			</div>
		</div>
		<!--/.Content-->
	</div>
</div>
<!--Modal: Login / Register Form-->

<!-- Modal -->
<div class="modal fade" id="forgotpasswordmodal" tabindex="-1"
	role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5
					class="col-12 modal-title text-center text-primary font-weight-bold"
					id="exampleModalLongTitle">Forgot Password?</h5>
			</div>
			<div class="modal-body">
				<div class="md-form form-sm mb-5">
					<i class="fas fa-envelope prefix"></i> <input type="text"
						id="fpemail" name="fpemail"
						class="form-control form-control-sm validate"> <label
						data-error="please enter your email" for="fpemail">Your
						email</label>
					<button id="verifybtn" class="btn btn-sm btn-info float-right"
						onclick="verify()">verify</button>
				</div>
				<div id="validate_div" class="md-form form-sm mb-5"
					style="display: none;">
					<i class="fas fa-key prefix"></i> <input type="text" id="otp"
						name="otp" class="form-control form-control-sm validate"
						maxlength="6"> <label data-error="please enter your OTP"
						for="fpemail">OTP</label>
					<button id="validatebtn" class="btn btn-sm btn-danger float-right"
						onclick="validate()">validate</button>
					<div class="countdown text-danger font-weight-bold"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-warning"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" defer async></script>
<script type="text/javascript" src="/js/alertify.min.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/mdb.min.js" defer async></script>
<script type="text/javascript" src="/js/cricket_live_score.js" defer
	async></script>
<link rel="stylesheet" href="/css/fontawesome.all.css" media="all">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</html>